#inventory-section {
  margin: 0 5%;
}

#inventory-section h1 {
  text-align: center;
  font-size: 2em;
}

.card {
  background-image: linear-gradient(to right, #fff 0%, #ecf0f1 100%);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  display: block;
  position: relative;
  margin: 10px 0;
  padding: 20px;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

.card-lq {
   background-image: linear-gradient(to right, #fff 15%, #d32f2f 100%);
}

.card .card-info {
  margin-left: 120px;
}

.card .card-image {
  position: absolute;
  top: 20px;
  left: 20px;
  background-position: -45px 0;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  padding: 0;
}
.card img {
  width: 100px;
  overflow: hidden;
}

.card .card-info .name {
  font-size: 28px;
  font-weight: 100;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.card .card-info .social-network {
  font-size: 0;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin-bottom: 15px;
}
@media (min-width: 639px) {
  .card .card-info .social-network {
    float: right;
    margin: 5px 0 0;
  }
}
.card .card-info .social-network:before {
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 16px;
  content: "";
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.card .card-info hr {
  margin: 0 0 15px;
}
.card .card-info strong {
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
}

.detail-link, .detail-link:visited, .detail-link:hover, .detail-link:active{
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
	position: relative;
  transition: 0.5s color ease;
	text-decoration: none;
	color: #5585af;
	font-size: 1.5em;
}

.detail-link:hover{
	color: #d73444;
}

.detail-link.before:before, .detail-link.after:after{
  content: "";
  transition: 0.5s all ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
}

.detail-link.before:before{
  top: -0.25em;
}

.detail-link.after:after{
  bottom: -0.25em;
}

.detail-link.before:before, .detail-link.after:after{
  height: 0.35rem;
  width: 0;
  background: #d73444;
}

.detail-link.first:after{
  left: 0;
}

.detail-link.second:after{
  right:0;
}

.detail-link.before:hover:before, .detail-link.after:hover:after{
  width:100%;
}

.go-back {
  margin: 0.5em 0 0 3em;
  z-index: 1;
}