@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");

body,
input,
select,
textarea,
body * {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
body::after, body::before,
input::after,
input::before,
select::after,
select::before,
textarea::after,
textarea::before,
body *::after,
body *::before {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #eef2f5;
  
}